In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from money_tools import Rate
from datetime import datetime

In [13]:
rate = Rate(start_balance=100000,
                    annual_interest_rate=0.01,
                    monthly_payment=1000,
                    start_date=datetime(2019, 1, 1),
                    end_date=datetime(2019, 12, 31)
                    )

In [26]:
rate

Rate(start_balance=100000, annual_interest_rate=0.01, monthly_payment=1000, start_date='2019-01-01', end_date='2019-12-31')

In [24]:
r2 = Rate(start_balance=100000, annual_interest_rate=0.01, monthly_payment=1000, start_date='2019-01-01', end_date='2019-12-31')

In [25]:
r2.schedule.head()

,Date,Period,Begin Balance,Payment,Interest,Additional_Payment,End Balance
0,2019-01-01,1,100000.00,1000,2.74,0,99002.74
1,2019-01-02,2,99002.74,0,2.71,0,99005.45
2,2019-01-03,3,99005.45,0,2.71,0,99008.16
3,2019-01-04,4,99008.16,0,2.71,0,99010.87
4,2019-01-05,5,99010.87,0,2.71,0,99013.58

In [6]:
rate.schedule

,Date,Period,Begin Balance,Payment,Interest,Additional_Payment,End Balance
0,2019-01-01,1,100000.00,1000,2.74,0,99002.74
1,2019-01-02,2,99002.74,0,2.71,0,99005.45
2,2019-01-03,3,99005.45,0,2.71,0,99008.16
3,2019-01-04,4,99008.16,0,2.71,0,99010.87
4,2019-01-05,5,99010.87,0,2.71,0,99013.58
5,2019-01-06,6,99013.58,0,2.71,0,99016.29
6,2019-01-07,7,99016.29,0,2.71,0,99019.00
7,2019-01-08,8,99019.00,0,2.71,0,99021.71
8,2019-01-09,9,99021.71,0,2.71,0,99024.42
9,2019-01-10,10,99024.42,0,2.71,0,99027.13
10,2019-01-11,11,99027.13,0,2.71,0,99029.84
11,2019-01-12,12,99029.84,0,2.71,0,99032.55
12,2019-01-13,13,99032.55,0,2.71,0,99035.26
13,2019-01-14,14,99035.26,0,2.71,0,99037.97
14,2019-01-15,15,99037.97,0,2.71,0,99040.68
15,2019-01-16,16,99040.68,0,2.71,0,99043.39
16,2019-01-17,17,99043.39,0,2.71,0,99046.10
17,2019-01-18,18,99046.10,0,2.71,0,99048.81
18,2019-01-19,19,99048.81,0,2.71,0,99051.52
19,2019-01-20,20,99051.52,0,2.71,0,99054.23
20,2019-01-21,21,99054.23,0,2.71,0,99056.94
21,2019-01-22,22,99056.94,0,2.71,0,99059.65
22,2019-01-23,23,99059.65,0,2.71,0,99062.36
23,2019-01-24,24,99062.36,0,2.71,0,99065.07
24,2019-01-25,25,99065.07,0,2.71,0,99067.78
25,2019-01-26,26,99067.78,0,2.71,0,99070.49
26,2019-01-27,27,99070.49,0,2.71,0,99073.20
27,2019-01-28,28,99073.20,0,2.71,0,99075.91
28,2019-01-29,29,99075.91,0,2.71,0,99078.62
29,2019-01-30,30,99078.62,0,2.71,0,99081.33
...,...,...,...,...,...,...,...
335,2019-12-02,336,88866.73,0,2.43,0,88869.16
336,2019-12-03,337,88869.16,0,2.43,0,88871.59
337,2019-12-04,338,88871.59,0,2.43,0,88874.02
338,2019-12-05,339,88874.02,0,2.43,0,88876.45
339,2019-12-06,340,88876.45,0,2.43,0,88878.88
340,2019-12-07,341,88878.88,0,2.44,0,88881.32
341,2019-12-08,342,88881.32,0,2.44,0,88883.76
342,2019-12-09,343,88883.76,0,2.44,0,88886.20
343,2019-12-10,344,88886.20,0,2.44,0,88888.64
344,2019-12-11,345,88888.64,0,2.44,0,88891.08
345,2019-12-12,346,88891.08,0,2.44,0,88893.52
346,2019-12-13,347,88893.52,0,2.44,0,88895.96
347,2019-12-14,348,88895.96,0,2.44,0,88898.40
348,2019-12-15,349,88898.40,0,2.44,0,88900.84
349,2019-12-16,350,88900.84,0,2.44,0,88903.28
350,2019-12-17,351,88903.28,0,2.44,0,88905.72
351,2019-12-18,352,88905.72,0,2.44,0,88908.16
352,2019-12-19,353,88908.16,0,2.44,0,88910.60
353,2019-12-20,354,88910.60,0,2.44,0,88913.04
354,2019-12-21,355,88913.04,0,2.44,0,88915.48
355,2019-12-22,356,88915.48,0,2.44,0,88917.92
356,2019-12-23,357,88917.92,0,2.44,0,88920.36
357,2019-12-24,358,88920.36,0,2.44,0,88922.80
358,2019-12-25,359,88922.80,0,2.44,0,88925.24
359,2019-12-26,360,88925.24,0,2.44,0,88927.68
360,2019-12-27,361,88927.68,0,2.44,0,88930.12
361,2019-12-28,362,88930.12,0,2.44,0,88932.56
362,2019-12-29,363,88932.56,0,2.44,0,88935.00
363,2019-12-30,364,88935.00,0,2.44,0,88937.44
364,2019-12-31,365,88937.44,0,2.44,0,88939.88